* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #080808;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form button:disabled{
  opacity: 0.3;
  cursor: not-allowed;
  background: rgba(76, 48, 177, 0.945);
}

.list-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.todo-list{
  min-width: 40%;
  list-style: none;
 
}

.tasks{
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 10px;
  
}

.tasks  li{
  flex: 1;
  width: 60%;
}

.completed{
  text-decoration: line-through;
    opacity: 0.6;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

p {
  color: #1619bf;
}

p::before {
  display: inline;
  content: "⚠ ";}