* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  height: 100%;
  position: relative;
}

.tasks li {
  flex: 1;
}

.completed {
  text-decoration: line-through;
  opacity: 0.6;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
